[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RankAggSIgFUR"]
	path = RankAggSIgFUR
	url = https://github.com/prakashvs613/rankaggsigfur
